@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

:root {
    --color-background-body: 0, 0%, 8%;
    --color-white: 0, 0%, 100%;
    --color-accent: 75, 94%, 57%;
    --color-dark: 0, 0%, 12%;
    --color-gray: 0, 0%, 20%;
    

    --ff-primary: "Inter"
}
.flex {display: flex}
.flex-col {flex-direction: column;}
.justify-center {justify-content: center;}
.items-center {align-items: center;}
.rounded-sm {border-radius: 7px;}
.rounded-md {border-radius: 10px;}
.rounded-bg {border-radius: 100px;}
.p-md {padding: 22px}
.p-sm {padding: 0.75rem}
.m-top {margin-top: 1rem;}
.m-top-sm {margin-top: 0.6rem;}
.text-center {text-align: center;}

.card,
.card__content {
    max-width: 35rem;
}
.card__image {
    max-width: 5.5rem;
    margin-bottom: 1rem;
}
.card__image:focus,
.card__caption > *:focus {
  outline: 1px solid hsl(var(--color-accent));
}  

.card {
    background-color: hsl(var(--color-dark));
}

.card__title, .card__description {
    color: hsl(var(--color-white));
}
.card__subtitle, .card__description {
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
    font-weight: 400;
}
.card__title {
    font-size: 1.5rem;
    font-weight: 500;
}

.card__subtitle {
    color: hsl(var(--color-accent));
}

 /* .card__button {
    background-color: hsl(var(--color-gray));
    border: 0;
    width: 18rem;
    color: hsl(var(--color-white));
    font-size: 0.9rem;
    font-weight: 500;
 } */
 button {
    background-color: hsl(0, 0%, 20%);
    border: 0;
    width: 18rem;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
 }

 a {
    text-decoration: none;
 }

  @media (min-width: 1440px) {
    button:hover {
        background-color:hsl(75, 94%, 57%);
        color: black;
        cursor: pointer;
     }
 }
